<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/" routerLinkActive="active" title="bootstrap-table">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/jumbotron" routerLinkActive="active" title="Jumbotron">Jumbotron</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bootstrap-table" routerLinkActive="active" title="bootstrap-table">BS Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/bootstrap-form']" title="Bootstrap Form">Bootstrap Form</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h1>Angular 9 with Boostrap Jumbotron, Table and Form example</h1>
  <router-outlet></router-outlet>
</div>